<html>
  <head>
    <meta name="DailyStory" content="Page description. No longer than 155 characters.">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
  </head>


  <body>
    <div class = "border grey">
      <nav class="navbar navbar-light">
        <div>
          <a class="navbar-brand" href="#">
              <img src="../assets/logo.jpeg" alt="" width="200" height="70" >
          </a>
        </div>
        <div>
          <a class="btn btn-gradiant navbar" <%= link_to "Essayer gratuitement", users_new_path %></a>
        </div>
      </nav>
    </div>
    <div class ="homecontent">
      <div class = "row d-flex justify-content-around">
          <div class = "titlesbox col-lg-6" >
            <div><h1> 365 Jours de Découverte </h1></div>
            <div><h2> Découvrez <span style = "color: rgb(61, 59, 48); font-weight : bold; font-size : 32px;">chaque jour</span> un fait historique sur un domaine qui vous passionne </h2></div>
            <div><p> Recevez chaque matin par email ou directement sur votre smartphone un fait historique ayant eu lieu à la date du jour</p></div>
          </div>
          <div class ="containerimagehome">
            <a href="#">
              <img class ="imagehome" src="../assets/home.jpg" alt="" width="400" height="400">
            </a>
          </div>
        </div>
      </div>
    <div class = "homecontainer">
      <form>
        <div class="form-group row">
          <div class ="col-md-10">
            <label for="emailform"> Renseignez votre email </label>
            <input type="text" class="form-control" id="emailform" placeholder="Votre email">
          </div>
        </div>
      </form>
      <div class ="d-flex justify-content-center">
        <a class="btn btn-gradiant" <%= link_to "commencer votre essai gratuit", users_new_path %></a>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
