<html>
  <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Voici votre newsletter quotidienne</h1>
    <p>
    <%=@content%>
    </p>
  </body>

</html>
