#emailform{
font-size: 16px;
font-weight: 600;
}
.form-group{
  font-size: 16x;
  justify-content: center;
  padding: 15px;
}
.form-group-registration{
  font-size: 16x;
  justify-content: center;
  padding: 15px;
  padding-top: 70px;
  font-weight: 600;
}
