.homecontent{
  display: flex;
  justify-content: space-between;
  margin-left: 55px;
}

.titlesbox{
  margin-top: 70px;
  margin-left: 10px;
}

.containerimagehome{
  padding: 30px;
  margin-top: 40px;
}

.imagehome{
  border-radius: 10%;
}

.titlesbox h1{
  font-weight: bold;
  color: #0055A4 ;
  margin-bottom: 15px;
}

.titlesbox h2{
  font-weight: 500;
  color: #0055A4;
  margin-bottom: 15px;
  font-size: 28px;
}

.titlesbox p {
font-size: 16px;
color: #0A0908;
}
