
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;600;700;800;900&display=swap');

@import url("components/homecontainer.css");
@import url("components/navbarcontainer.css");
@import url("components/homecontent.css");
@import url("components/boostrapform.css");
@import url("components/buttons.css");

#results li {
  cursor: grab;
}

#results li:active {
  cursor: grabbing;
}

#results li.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}
